body {
    font-family: Arial, sans-serif;
    background-color: #333; /* white */
    color: #fff; /* dark gray */
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(6, 96, 148); /* yellow */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* dark gray */
}

nav ul li a:hover {
    color: #00f; /* blue */
}

main a {
    color: #007bff; /* Blue */
    text-decoration: none; /* Remove underline */
}

main a:hover {
    text-decoration: underline; /* Add underline on hover */
}

main {
    padding: 20px;
    padding-bottom: 60px; /* Add padding equal to the height of the footer */
}


section {
    margin-bottom: 30px;
}

footer {
    background-color: #333; /* blue */
    color: #fff; /* white */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
